html,
body,
root {
  background-color: #f7fcf4;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-block {
  border: 2px solid rgb(239, 74, 19);
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.header {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: sienna;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.board__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cell {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  font-size: large;
}