html,
body,
root {
  background-color: #6def1c;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-block {
  border: 2px solid rgb(239, 74, 19);
  height: 500px;
  width: 500px;
  margin: auto;
}

.header {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: sienna;
  border: 1px solid blue;
}

.board {
  border: 2px solid orangered;
  height: 350px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  font-size: large;
}