:root {
  background-color: #dfcd44;
}

.main-block {
  border: 2px solid rgb(239, 74, 19);
  height: 500px;
  width: 500px;
  margin: auto;
}

.header {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: sienna;
  border: 1px solid blue;
}